<script type='module'> 

	function inputN(err) {
    	let result;
    	if (!!!err) {
    		result = prompt('Введите число');
    	}else{
    		result = prompt('Неверный формат! Введите число целое число!');
    	}
    //удаляем все пробелы в переданной строке
        result = (!!result) ? result.replace(/\s+/g,"") : false;
	    let reg = /^[\d]+$/i;
	//проверяем введено число или нет - если нет запрашиваем ввести число повторно
	    result = (!!+result) ? ( reg.test(result) ? result : inputN('err') ) : inputN('err');

		return result;
    }
    
    function getRandSimb(array_simbols, array_exceptions) {
    	if(Array.isArray(array_simbols) && Array.isArray(array_exceptions)) {
    //берем символ из допустимых значений
	    	let rand_simb = Math.floor(Math.random() * Math.floor((+array_simbols.length - 1)));
	//проверяем входит ли полученый символ в массив недопустимых значений - верхний регстр
			let check_exceptions_toUpperCase = array_exceptions.findIndex(item => item === array_simbols[rand_simb].toUpperCase());
	//проверяем входит ли полученый символ в массив недопустимых значений - нижний регстр
			let check_exceptions_toLowerCase = array_exceptions.findIndex(item => item === array_simbols[rand_simb].toLowerCase());
	//если не входит значит удовлетворяет, иначе берем новое случайное значение и проверяем
	//и так до тех пор пока не будет удовлетворять
			let result = (+check_exceptions_toUpperCase < 0 && +check_exceptions_toLowerCase < 0) ? array_simbols[rand_simb] : getRandSimb(array_simbols, array_exceptions);

			return result;
		}else{
			return false;
		}
    }

    function getMainStr(n, array_simbols, array_exceptions) {
    	let str = '';
   	//строим строку случайных символов, равную переданному числу, от пользователя
    	if(!!+n && Array.isArray(array_simbols)) {
			for (let i = 1; i <= +n; i++) {
				str += getRandSimb(array_simbols, array_exceptions);
			}   
			return str; 
		}else{
			return false;
		}
		
    }

    function inputNewSimbol(str) {
    	let result = '';
    	let simbol1 = prompt('Введите символ');
    	let simbol2 = prompt('Введите еще один символ');
    	
    	let arr_str = str.split('');
    	let reg1 = /^[a-z]$/i;
    //замена первого символа в строке, при помощи FOR	
    	for (let i = 0; i < (+arr_str.length); i++) {
			result += (reg1.test(arr_str[i])) ? simbol1 : arr_str[i];

		}

		let new_arr_str = (!!result) ? result.split('') : arr_str;
		result = '';
		let reg2 = /^[\d]$/i;
	//замена второго символа в строке, при помощи FOR	
		for (let n = 0; n < (+new_arr_str.length); n++) {
			result += (reg2.test(new_arr_str[n])) ? simbol2 : new_arr_str[n];
		} 
	
        let reg3 = new RegExp(simbol1, 'gi');
    //подсчет количества вхождений подстроки в строку - вхождения первого символа
        let col_simbol1 = (!!result) ? ((result.match(reg3)) ? result.match(reg3).length : 0 ) : false;
        let reg4 = new RegExp(simbol2, 'gi');
    //подсчет количества вхождений подстроки в строку - вхождения второго символа
        let col_simbol2 = (!!result) ? ((result.match(reg4)) ? result.match(reg4).length : 0 ) : false;
    //подсчет количества неизмененных символов
        let col_the_remainder = +arr_str.length - ((+col_simbol1) + (+col_simbol2));

	    return {str: result, simbol1: simbol1, simbol2: simbol2, col_simb_str: arr_str.length, col_simb_1: col_simbol1, col_simb_2: col_simbol2, col_the_remainder: col_the_remainder};
    }

let numbrs = '0123456789'; 
let letters = 'abcdefghijklmnopqrstuvwxyz'; 
let simbols = '+-_$~'; 
//массив недопустимых значений
let array_exceptions = 'CPSX'.split('');
//массив допустимых значений
let array_simbols = (numbrs+letters+simbols+array_exceptions).split('');

let N = inputN();
let main_str = getMainStr(N, array_simbols, array_exceptions);
let change_simbol = inputNewSimbol(main_str);

let write = 'Строка удовлетворяющая выбору символов: '+numbrs+letters+simbols+'<br>';
write += 'Символы, которые не должны входить в полученную строку: '+array_exceptions+'<br>';
write += 'Пользователь передал число N = '+N+'<br>';    
write += 'Строка сгенерированная в случайном порядке, с указанным количеством символов: '+main_str+'<br>';    
write += 'Первый символ для изменения всех букв в строке: '+change_simbol.simbol1+'<br>';
write += 'Второй символ для изменения всех цифр в строке: '+change_simbol.simbol2+'<br>';    
write += 'Результат изменения строки: '+change_simbol.str+'<br>'; 
write += 'Количество символов '+change_simbol.simbol1+' замененных в строке: '+change_simbol.col_simb_1+'<br>';    
write += 'Количество символов '+change_simbol.simbol2+' замененных в строке: '+change_simbol.col_simb_2+'<br>';    
write += 'Нетронутых символов: '+change_simbol.col_the_remainder+'<br>';  
setTimeout(() => document.write(write), 100);

</script>